$prettify-class: "sublime-text";

$prettify-background: #002b36;
$prettify-border-color: #002b36;

$prettify-color-string: #65b042;
$prettify-color-keyword: #859900;
$prettify-color-comment: #657b83;
$prettify-color-type: #ffffff;
$prettify-color-litteral: #268bd2;
$prettify-color-punctuation: #839496;
$prettify-color-plaintext: #ffffff;
$prettify-color-tag: #89bdff;
$prettify-color-attribute-name: #93a1a1;
$prettify-color-attribute-value: #65b042;
$prettify-color-decimal: #89bdff;
$prettify-color-options: #839496;
$prettify-color-clo: #839496;
$prettify-color-var: #268bd2;
$prettify-color-functions: #89bdff;
$prettify-color-line-numbers: #aeaeae;

@import '_prettify';
