@mixin clearfix() {
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

html {
    body {
        #widget-weather {
            min-width: 120px;
            max-width: 300px;
            border-radius: 5px;
            color: white;
            text-align: center;
            .widget-weather-location {
                text-transform: uppercase;
            }
            .widget-weather-temperature {
                padding: 10px 0;
                font-size: 48px;
                line-height: 48px;
            }
            .widget-weather-informations {
                background: rgba(41, 41, 41, 0.15);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                text-align: left;
                .widget-weather-wind {
                    display: inline-block;
                    height: 30px;
                    margin: 0 0 0 20px;
                    text-align: left;
                    .widget-weather-wind-container {
                        display: inline-block;
                        padding: 0 0 0 25px;
                        background: url('../images/wind.png') 0 center no-repeat;
                        .widget-weather-wind-value {
                            display: inline-block;
                            font-size: 15px;
                            line-height: 30px;
                        }
                    }
                }
                .widget-weather-humidity {
                    display: inline-block;
                    height: 30px;
                    margin: 0 0 0 40px;
                    text-align: right;
                    .widget-weather-humidity-container {
                        display: inline-block;
                        padding: 0 0 0 20px;
                        background: url('../images/humidity.png') 0 center no-repeat;
                        .widget-weather-humidity-value {
                            display: inline-block;
                            font-size: 15px;
                            line-height: 30px;
                        }
                    }
                }
                @include clearfix();
            }
        }
        .small-wrapper {
            margin: 5px 0;
        }
    }
}
