html body #temperature-gradient {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  margin: 0 auto 10px auto;
  border: 1px solid black;
}
html body #temperature-gradient .gradient-step {
  height: 100%;
  line-height: 18px;
  text-align: center;
}
html body #widget-weather {
  min-width: 120px;
  max-width: 300px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
html body #widget-weather .widget-weather-location {
  text-transform: uppercase;
}
html body #widget-weather .widget-weather-temperature {
  padding: 10px 0;
  font-size: 48px;
  line-height: 48px;
}
html body #widget-weather .widget-weather-informations {
  background: rgba(41, 41, 41, 0.15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  zoom: 1;
}
html body #widget-weather .widget-weather-informations .widget-weather-wind {
  display: inline-block;
  height: 30px;
  margin: 0 0 0 20px;
  text-align: left;
}
html body #widget-weather .widget-weather-informations .widget-weather-wind .widget-weather-wind-container {
  display: inline-block;
  padding: 0 0 0 25px;
  background: url("../images/wind.png") 0 center no-repeat;
}
html body #widget-weather .widget-weather-informations .widget-weather-wind .widget-weather-wind-container .widget-weather-wind-value {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
}
html body #widget-weather .widget-weather-informations .widget-weather-humidity {
  display: inline-block;
  height: 30px;
  margin: 0 0 0 40px;
  text-align: right;
}
html body #widget-weather .widget-weather-informations .widget-weather-humidity .widget-weather-humidity-container {
  display: inline-block;
  padding: 0 0 0 20px;
  background: url("../images/humidity.png") 0 center no-repeat;
}
html body #widget-weather .widget-weather-informations .widget-weather-humidity .widget-weather-humidity-container .widget-weather-humidity-value {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
}
html body #widget-weather .widget-weather-informations:before {
  content: '';
  display: block;
}
html body #widget-weather .widget-weather-informations:after {
  content: '';
  display: table;
  clear: both;
}
html body .small-wrapper {
  margin: 5px 0;
}
