{% extends 'base.html.twig' %}

{% block link_class_download %}active{% endblock %}

{% block app_container %}
    <section id='download'>
        {% for version, filesList in files %}
            <div class='panel panel-info'>
                <div class='panel-heading'>
                    <h4 class='panel-title'>{{ version|title }}</h4>
                </div>
                <div class='panel-body'>
                    {% for file in filesList %}
                        <div class='marged'>
                            <a href='{{ app.url_generator.generate('get', { 'filename': file.relativePathname }) }}' target='_blank'><i class='icon icon-download'></i> Download the {% if 'min' in file.filename %}minified, production{% else %}unminified, development{% endif %} version - {{ file.filename }} [{{ (file.size / 1000)|number_format(2, '.', ' ') }} Kb]</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
