{% extends 'base.html.twig' %}

{% block app_container %}
    <header class='jumbotron'>
        <h1 id='app-title'>
            <span class='character'>C</span><span class='character'>o</span><span class='character'>l</span><span class='character'>o</span><span class='character'>r</span><span class='character'>M</span><span class='character'>i</span><span class='character'>x</span>
        </h1>
        <h3>The color mixing open source library</h3>
        <h6>v2.0.0</h6>
        <a href='https://github.com/Flo-Schield-Bobby/colormix' target='_blank'>
            <img class='github-ribbon' src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png' alt='Fork me on GitHub' />
        </a>
    </header>
    <section id='what-is-it' class='well'>
        <div class='panel-body'>
            <h4>What is ColorMix.js ?</h4>
            <p>A javascript library for mixing, blending and easily manipulating colors and color spaces [Hex, RGB, XYZ, HSL, Lab].</p>
            <p>
                The mixing methods are using the <a href='http://en.wikipedia.org/wiki/Lab_color_space' target='_blank'>Lab color space</a>.
                <br />
                This color space is designed to approximate the human vision, that's why a Lab mix is closer to our vision than a RGB mix.
            </p>
            <p>
                It means that your colors will first be converted to this schema, what can be a bit heavy / slow if you use it inside an interval as requestAnimationFrame.
            </p>
            <h5>Okay, and technically ?</h5>
            <p>
                ColorMix is a global JS singleton object, so accessible from anywhere.
                <br />
                It contains some direct methods to mix several colors, get and set up a custom colors gradient, and blend a reference in this gradient.
                <br />
                It contains also two subclasses:
            </p>
            <ul>
                <li>ColorMix.Color() - A class to easily manipulating colors</li>
                <li>ColorMix.ColorSpace - A singleton to easily convert colors into different color spaces.</li>
            </ul>
            <p>Watch the documentation below for more informations !</p>
            <h5>Is it free ?</h5>
            <p>
                Sure! And open-sourced on <a href='https://github.com/Flo-Schield-Bobby/colormix' target='_blank'>GitHub</a>. Feel free to star or fork. Pull-requests are welcome!
            </p>
            <h5>Do you find it usefull (or expected more from it) ?</h5>
            <p>
                Just <a href='mailto:florent.schildknecht@gmail.com?subject=[ColorMix Project]'>send me your feedbacks!</a>
            </p>
        </div>
    </section>
{% endblock %}
