{% extends 'base.html.twig' %}

{% block link_class_prices %}active{% endblock %}

{% block app_container %}
    <section id='prices'>
        <div class='panel panel-success'>
            <div class='panel-heading'>
                <h4 class='panel-title'>No worry, I'm just kidding...</h4>
            </div>
            <div class='panel-body'>
                <h5>I am very proud to trust in <strong>Open-Source</strong> projects and technologies</h5>
                <p>You are <span class='text-success'>free to use it</span> in your projects, as a developer or even a big company.</p>
                <p>However, in order to keep this philosophy, <span class='text-danger'>it is <u>absolutely forbidden</u> for anyone to sell, rent, or have any kind of commercialisation on this project.</span></p>
                <p>You can of course <a href='mailto:florent.schildknecht@gmail.com?subject=[ColorMix Project]'>contact me</a> to discuss about the terms of usage.</p>
                <hr />
                <p>Please remember that I develop and maintain this library using my free-time, and would be very happy to get some feedbacks and / or contributions !</p>
                <div id='buy-me-a-beer'>
                    <p>If you like it, it is also possible for you to make the french developer I am happier by </p>
                    <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_blank' class='form-inline'>
                        <input type='hidden' name='cmd' value='_s-xclick' />
                        <input type='hidden' name='encrypted' value='-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBNkDH46PrdcYlqGAv1JEhCjOSOaqKIpKSUIfQpqHKv84H7yu2VB/8med+iW/1s3L5NiXa7EKOrdrZO2sRImYR2qsC4SNP3BMqmBb8ljrW4U092zMCw46rjgSGwLKSSuD/VuLFpXN15OFfH5yRWSELARtkOyy1PoreCVh3kD90nWjELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIsfObu4qJeQyAgZB5PeBxtwjEClnojvYARKBBNwm9OOts6CKLlfeTeCv9JGNXxctVYPtAfCSjX+ZCIhkVBlIGnravpFl0IQkuQd482jn56G9Adsp1Homv4orTfBWCimAVwKN1lhiMnMG1sUUGW/l0jE+zHaGHbo66/O0PRQ4TLuEWbjwo4bJxTUyJT696lrmkLldP32zVqeHe/AOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMzA1MjMxMzIzMzhaMCMGCSqGSIb3DQEJBDEWBBTo9GBzV+yvJ9IqLZZkyYHhG+JhyTANBgkqhkiG9w0BAQEFAASBgDGy9pJncs9lIDOCCwH4F/0Q8kuZulFQHGTWvXLqwyjkuM3JSE1wVmFHtg8qxKYmApNztzwaBCwEH0fiKn6o3Yz/9er7ZUOTNDui2nQCyi+ZxbEymUjMgN45o2Ke88oU7uY/ZP/ppEc1e/e+LomDkfOXYVtaekACPBqlsKMQLd7N-----END PKCS7-----
                        ' />
                        <i id='buy-me-a-beer-icon' class='icon icon-beer'></i>
                        <input id='buy-me-a-beer-input' class='btn btn-default' type='submit' name='submit' value='Offering me a beer' />
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}
