html body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html body i {
  color: #000000;
}
html body i.icon-white {
  color: #ffffff;
}
html body #app .jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
html body #app .jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
html body #app .jumbotron .btn {
  font-size: 21px;
}
html body #app #demo input.color {
  color: #f5f8fb;
  text-shadow: 0 0 1px #292929;
}
html body #app #demo #color-mix {
  border-radius: 5px;
  border: 2px solid black;
}
html body #app #demo #color-mix .color-value-rgb {
  text-align: center;
  color: #f5f8fb;
  text-shadow: 0 0 5px #292929;
  font-size: 18px;
}
html body #app #demo #color-mix .color-value-hsl {
  text-align: center;
  color: #f5f8fb;
  text-shadow: 0 0 5px #292929;
  font-size: 18px;
}
html body #app #demo #color-mix .color-value-hex {
  text-align: center;
  color: #f5f8fb;
  text-shadow: 0 0 5px #292929;
  font-size: 18px;
}
html body .icon.icon-github {
  background: url('../images/icon-github.png') center center no-repeat;
}
@media (max-width: 980px) {
  html body #app .jumbotron h1 {
    font-size: 90px;
  }
  html body #app #demo #color-mix .color-value-rgb {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 16px;
  }
  html body #app #demo #color-mix .color-value-hsl {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 16px;
  }
  html body #app #demo #color-mix .color-value-hex {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  html body #app .jumbotron h1 {
    font-size: 74px;
  }
  html body #app #demo #color-mix .color-value-rgb {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 12px;
  }
  html body #app #demo #color-mix .color-value-hsl {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 12px;
  }
  html body #app #demo #color-mix .color-value-hex {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  html body #app .jumbotron h1 {
    font-size: 44px;
  }
  html body #app #demo #color-mix .color-value-rgb {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 8px;
  }
  html body #app #demo #color-mix .color-value-hsl {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 8px;
  }
  html body #app #demo #color-mix .color-value-hex {
    text-align: center;
    color: #f5f8fb;
    text-shadow: 0 0 5px #292929;
    font-size: 8px;
  }
}
