{% extends 'base.html.twig' %}

{% block app_container %}
    <header class='jumbotron'>
        <h1>500</h1>
        <p class='lead'>Something went wrong...</p>
    </header>
    <hr />
    <div class='alert alert-warning'>
        <p class='text-warning'>{{ exception.message }}</p>
    </div>
{% endblock %}
